/* GENERAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url("./assets/background.png") center center fixed;
}

/* TYPE */
h1 {
  margin-top: 35px;
  color: white;
  font-family: 'Orbitron', sans-serif;
  font-weight: 300;
  font-size: 3em;
  text-align: center;
}

h2 {
  color: white;
  font-family: 'Orbitron', sans-serif;
  font-weight: 300;
  font-size: 2em;
  text-align: center;
  margin: 10px 0 10px 0;
}

h3 {
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 1em;
  text-align: center;
  margin: 10px 0 10px 0;
}

/* PLAY AREA */
.card-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 120px 0;
}

.player-area {
  width: 260px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;
}

.active-player {
  border: solid 2px;
  border-radius: 5px;
  animation-name: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    border-radius: 20px;
    border-color: #B17689;
  }
  50% {
    border-radius: 5px;
    border-color: #7E7A98;
  }
  100% {
    border-radius: 20px;
    border-color: #B17689;
  }
}

/* CARDS */
img {
  width: 190px;
  height: 266px;
  border-radius: 5px;
  object-fit: cover;
}

.card-stack {
  box-shadow:
    0 1px 1px rgba(0,0,0,0.15),
    0 8px 0 -2px #eee,
    0 20px 1px -9px rgba(0,0,0,0.15);
}
/* BUTTON */
button {
  width: 150px;
  height: 50px;
  background-color: black;
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 1em;
  text-align: center;
  margin-left: 30px;
  margin-top: 30px;
}

button:hover {
  background-color: #FFF;
  color: black;
  cursor: crosshair;
}

/* UTILITY */
.hidden {
  opacity: 0;
}



/*
font-family: 'Orbitron', sans-serif;    400 500
font-family: 'Roboto Mono', monospace;   300 italic
*/
/* RULE ORDER
Size
Display
Flex rules
Color
Margin
Border
Padding
Font
Text
Other
 */
